<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>ConnectionControler</servlet-name>
        <servlet-class>servlet.ConnectionControler</servlet-class>
        <!-- Les identifiants pour se connecter -->
        <init-param>
            <param-name>loginAdmin</param-name>
            <param-value>Admin</param-value>
        </init-param>
        <init-param>
            <param-name>passwordAdmin</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>ID</param-name>
            <param-value>Mr. Admin</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>ServletGraphiques</servlet-name>
        <servlet-class>servlet.ServletGraphiques</servlet-class>
    </servlet>
    
    <servlet-mapping>
            <servlet-name>ConnectionControler</servlet-name>
            <url-pattern>/ConnectionControler</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
            <servlet-name>ServletGraphiques</servlet-name>
            <url-pattern>/ServletGraphiques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGraphiqueLocalisation</servlet-name>
        <url-pattern>/ServletGraphiqueLocalisation</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>ConnectionControler</welcome-file>
    </welcome-file-list>
</web-app>
